SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_URL_PUBLIC=https://xxxx.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_MODEL_BUCKET=ai-models

GMAIL_USER=
GMAIL_APP_PASSWORD=

SUPER_ADMIN_USERNAME=admin
SUPER_ADMIN_PASSWORD_MD5=
